<h1 class="pageHeading">Propositions et votes du {{CONFIG.VALUES.THEME_PHRASE_SINGULAR}}</h1>
<div class="pageDescription">
	Utilisez ce formulaire pour proposer ou éditer votre {{CONFIG.VALUES.THEME_PHRASE_SINGULAR}} pour la {{CONFIG.VALUES.JAM_PHRASE_SINGULAR}} {{page.submit_jam.jam_number}}.
</div>

<h4>Proposer un {{CONFIG.VALUES.THEME_PHRASE_SINGULAR}}</h4>

<p>
    Chaque {{CONFIG.VALUES.JAM_PHRASE_SINGULAR}} a un {{CONFIG.VALUES.THEME_PHRASE_SINGULAR}}, celui-ci est choisi en fonciton des propositions. Une fois proposé, les autres utilisateurs peuvent voter. Vous pouvez proposer jusqu'à {{CONFIG.PRETTY_PRINT.THEMES_PER_USER}} {{CONFIG.VALUES.THEME_PHRASE_PLURAL}} et supprimer vos {{CONFIG.VALUES.THEME_PHRASE_PLURAL}} proposés.
</p>
<form method='post'>
    {{> csrf_token}}
	<div class="form-group">
		<label for="theme">{{CONFIG.VALUES.THEME_PHRASE_SINGULAR}}</label>
		<input type="text" class="form-control" id="theme" name='{{{forms.form.newtheme.theme}}}' placeholder="{{CONFIG.VALUES.THEME_PHRASE_SINGULAR}}" value="" required>
		<button type="submit" name='{{{forms.form.action}}}' value='{{{forms.action.savenewtheme}}}' class="btn btn-default">Proposer ce {{CONFIG.VALUES.THEME_PHRASE_SINGULAR}}</button>
	</div>
</form>

<h4>Vote du {{CONFIG.VALUES.THEME_PHRASE_SINGULAR}}</h4>

<p>
	Ici vous pouvez voter pour les {{CONFIG.VALUES.THEME_PHRASE_PLURAL}} que vous voudriez pour les prochaines {{CONFIG.VALUES.JAM_PHRASE_PLURAL}}.
</p>
<p>
	{{CONFIG.VALUES.THEME_PHRASE_PLURAL}} suggérés ci-dessus apparaitront dans la liste. Une fois qu'un {{CONFIG.VALUES.THEME_PHRASE_SINGULAR}} a reçu suffisamment de votes, il est considéré pour une {{CONFIG.VALUES.JAM_PHRASE_SINGULAR}}, en fonction de sa popularité. Les {{CONFIG.VALUES.THEME_PHRASE_PLURAL}} qui n'ont pas suffisamment de votes sont régulièrement retirés, en fonction de la popularité des autres {{CONFIG.VALUES.THEME_PHRASE_PLURAL}}. Les anciens {{CONFIG.VALUES.THEME_PHRASE_PLURAL}} pour donner une chance aux nouveaux, sans tenir compte des votes car ils ne représentent plus l'avis des participants actifs. N'importe quel {{CONFIG.VALUES.THEME_PHRASE_SINGULAR}} qui est retiré ainsi peu être proposé à nouveau.
</p>

<h4>Vos {{CONFIG.VALUES.THEME_PHRASE_PLURAL}}</h4>

<p>
    Ici vous pouvez gérer vos {{CONFIG.VALUES.THEME_PHRASE_PLURAL}} et voir leur chance d'être sélectionné. Garder à l'esprit qu'en fonction du nombre de {{CONFIG.VALUES.THEME_PHRASE_PLURAL}}, la probabilité pour un {{CONFIG.VALUES.THEME_PHRASE_SINGULAR}} reste faible.
</p>

{{#cookies.is_streamer}}
    <p class='bold'>
        Merci de désactiver le mode Stream pour votez les {{CONFIG.VALUES.THEME_PHRASE_PLURAL}} et gérer vos propositions.
    </p>
{{/cookies.is_streamer}}
{{^cookies.is_streamer}}
    {{#themes.has_own_themes}}
        <table class="themesTable">
            <tr>
                <th colspan='3' class='themeTableCell themeTableCellCentered'>
                    Vote
                </th>
                <th class='themeTableCell themeTableCellCentered'>
                    {{CONFIG.VALUES.THEME_PHRASE_SINGULAR}}
                </th>
                {{#CONFIG.VALUES.DISPLAY_THEME_PROBABILITY}}
                    <th class='themeTableCell themeTableCellCentered'>
                        Probabilité
                    </th>
                {{/CONFIG.VALUES.DISPLAY_THEME_PROBABILITY}}
                <th class='themeTableCell themeTableCellCentered themesIdeasColumn'>
                    Idées (seulement visible par vous)
                </th>
            </tr>
            {{#themes.suggested_themes}}
            {{#theme_visible}}
            {{#is_own_theme}}
            {{^banned}}
            <tr>
                <td class='themeTableCell'>
                    <button id="{{{theme_button_id}}}-3" type="button" name='{{{forms.form.action}}}' value='{{{forms.action.bantheme}}}'
                        class="btn btn-default {{#user_vote_for}}btn-success{{/user_vote_for}}"
                        onclick='VoteTheme("{{{theme_id}}}", 3, "{{{theme_button_id}}}");'>+1</button>
                </td>
                <td class='themeTableCell'>
                    <button id="{{{theme_button_id}}}-2" type="button" name='{{{forms.form.action}}}' value='{{{forms.action.bantheme}}}'
                        class="btn btn-default {{#user_vote_neutral}}btn-warning{{/user_vote_neutral}}"
                        onclick='VoteTheme("{{{theme_id}}}", 2, "{{{theme_button_id}}}");'>0</button>
                </td>
                <td class='themeTableCell'>
                    <button id="{{{theme_button_id}}}-1" type="button" name='{{{forms.form.action}}}' value='{{{forms.action.bantheme}}}'
                        class="btn btn-default {{#user_vote_against}}btn-danger{{/user_vote_against}}"
                        onclick='VoteTheme("{{{theme_id}}}", 1, "{{{theme_button_id}}}");'>-1</button>
                </td>
                <td class='themeTableCell'>
                    {{{theme}}}
                </td>
                {{#CONFIG.VALUES.DISPLAY_THEME_PROBABILITY}}
                    <td class='themeTableCell themeTableCellCentered'>
                        {{{UserThemeSelectionProbabilityByVoteDifferenceText}}}
                    </td>
                {{/CONFIG.VALUES.DISPLAY_THEME_PROBABILITY}}
                <th class='themeTableCell themeTableCellCentered'>
                    <input type="text" class="form-control" name="{{{forms.form.submitideas.ideas}}}" id="ideas-{{theme_id}}" placeholder="Entrez votre idée de {{CONFIG.VALUES.GAME_PHRASE_SINGULAR}} (optionnel)" value='{{ideas}}' onchange='SubmitThemeIdeas({{theme_id}}, "ideas-{{theme_id}}");' maxlength="240">
                </th>
                <td class='themeTableCell'>
                    <form method='POST' class="themesActionButtons" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre {{CONFIG.VALUES.THEME_PHRASE_SINGULAR}} {{theme}}?');">
                        {{> csrf_token}}
                        <button type="submit" name='{{{forms.form.action}}}' value='{{{forms.action.deletetheme}}}' class="btn btn-default"><img src="{{{page.template_path}}}images/cross.png" height="20" width="20"> &nbsp;Delete</button>
                        <input type='hidden' name='{{{forms.form.deletetheme.theme_id}}}' value='{{{theme_id}}}'>
                        <input type='hidden' name='{{{forms.form.deletetheme.page}}}' value='{{{forms.pages.themes}}}'>
                    </form>
                </td>
            </tr>
            {{/banned}}
            {{/is_own_theme}}
            {{/theme_visible}}
            {{/themes.suggested_themes}}
        </table>
    {{/themes.has_own_themes}}
    {{^themes.has_own_themes}}
        <p><b>Vous n'avez proposé aucun {{CONFIG.VALUES.THEME_PHRASE_PLURAL}} !</b></p>
    {{/themes.has_own_themes}}
{{/cookies.is_streamer}}

<h4>Autres {{CONFIG.VALUES.THEME_PHRASE_PLURAL}}</h4>

{{#themes.has_other_themes}}
    <table class='themesTable'>
        <tr>
            <th colspan='3' class='themeTableCell themeTableCellCentered'>
                Vote
            </th>
            <th class='themeTableCell themeTableCellCentered'>
                {{CONFIG.VALUES.THEME_PHRASE_SINGULAR}}
            </th>
            <th class='themeTableCell themeTableCellCentered themesIdeasColumn'>
                Idées (seulement visible par vous)
            </th>
        </tr>
        {{#themes.suggested_themes}}
            {{^banned}}
                {{#theme_visible}}
                    {{#cookies.is_streamer}}
                        <tr>
                            <td class='themeTableCell'>
                                <div class="btn btn-default" disabled>+1</div>
                            </td>
                            <td class='themeTableCell'>
                                <div class="btn btn-default" disabled>0</div>
                            </td>
                            <td class='themeTableCell'>
                                <div class="btn btn-default" disabled>-1</div>
                            </td>
                            <td class='themeTableCell'>
                                {{{theme}}}
                            </td>
                            <th class='themeTableCell themeTableCellCentered'>
                                <input type="text" class="form-control" placeholder="Hidden in streamer mode" value='' maxlength="240" disabled>
                            </th>
                        </tr>
                    {{/cookies.is_streamer}}
                    {{^cookies.is_streamer}}
                        {{^is_own_theme}}
                            <tr>
                                <td class='themeTableCell'>
                                    <button id="{{{theme_button_id}}}-3" type="button" 
                                        class="btn btn-default {{#user_vote_for}}btn-success{{/user_vote_for}}"
                                        onclick='VoteTheme("{{{theme_id}}}", 3, "{{{theme_button_id}}}");'>+1</button>
                                </td>
                                <td class='themeTableCell'>
                                    <button id="{{{theme_button_id}}}-2" type="button"
                                        class="btn btn-default {{#user_vote_neutral}}btn-warning{{/user_vote_neutral}}"
                                        onclick='VoteTheme("{{{theme_id}}}", 2, "{{{theme_button_id}}}");'>0</button>
                                </td>
                                <td class='themeTableCell'>
                                    <button id="{{{theme_button_id}}}-1" type="button"
                                        class="btn btn-default {{#user_vote_against}}btn-danger{{/user_vote_against}}"
                                        onclick='VoteTheme("{{{theme_id}}}", 1, "{{{theme_button_id}}}");'>-1</button>
                                </td>
                                <td class='themeTableCell'>
                                    {{{theme}}}
                                </td>
                                <th class='themeTableCell themeTableCellCentered'>
                                    <input type="text" class="form-control" name="{{{forms.form.submitideas.ideas}}}" id="ideas-{{theme_id}}" placeholder="Entrez vos idées de {{CONFIG.VALUES.GAME_PHRASE_SINGULAR}} (optionnel)" value='{{ideas}}' onchange='SubmitThemeIdeas({{theme_id}}, "ideas-{{theme_id}}");' maxlength="240">
                                </th>
                            </tr>
                        {{/is_own_theme}}
                    {{/cookies.is_streamer}}
                {{/theme_visible}}
            {{/banned}}
        {{/themes.suggested_themes}}
    </table>
{{/themes.has_other_themes}}
{{^themes.has_other_themes}}
    <p><b>Personne n'a proposé de {{CONFIG.VALUES.THEME_PHRASE_PLURAL}}.</b></p>
{{/themes.has_other_themes}}

<script type='text/javascript'>
	function VoteTheme(themeID, vote, btn_id){
		$.get("api/themevote?themeID="+themeID+"&vote="+vote, function(data){
			var d = jQuery.parseJSON(data)

			$("#"+btn_id+"-1").removeClass("btn-danger");
			$("#"+btn_id+"-2").removeClass("btn-warning");
			$("#"+btn_id+"-3").removeClass("btn-success");
			if(vote == 1){
				$("#"+btn_id+"-"+vote).addClass("btn-danger");
			}
			if(vote == 2){
				$("#"+btn_id+"-"+vote).addClass("btn-warning");
			}
			if(vote == 3){
				$("#"+btn_id+"-"+vote).addClass("btn-success");
			}
		});
    }
    
	function SubmitThemeIdeas(themeID, ideasTextInputId){
        var ideasUrlEncoded = encodeURI($("#"+ideasTextInputId).val());
		$("#"+ideasTextInputId).removeClass("btn-danger");
		$("#"+ideasTextInputId).removeClass("btn-success");
		$("#"+ideasTextInputId).addClass("btn-warning");
		$.get("api/submitideas?themeID="+themeID+"&ideas="+ideasUrlEncoded, function(data){
			var d = jQuery.parseJSON(data)

            $("#"+ideasTextInputId).removeClass("btn-danger");
		    $("#"+ideasTextInputId).removeClass("btn-success");
            $("#"+ideasTextInputId).removeClass("btn-warning");
            console.log("TRY");
			if(d.SUCCESS){
                console.log("SUCCESS");
				$("#"+ideasTextInputId).addClass("btn-success");
			}
			if(d.ERROR){
                console.log("ERROR");
				$("#"+ideasTextInputId).addClass("btn-danger");
			}
		});
	}
</script>